/*common*/
body {
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

/*popup*/
body.popup {
    min-width: 160px;
    overflow: hidden;
    display: none;
    padding: 6px 2px;
}

.popup .switch-group {
    margin-top: 8px;
    border: 1px solid #2196f3;
    padding: 4px 10px;
    border-radius: 34px;
    display: block;
    cursor: pointer;
}

.popup .switch-group:first-of-type {
    margin-top: 0;
}

.popup .switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
    left: 94px;
}

.popup .switch .label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #2196f3;
    font-size: 20px;
    position: relative;
    display: inline-block;
    left: -98px;
}

.popup .switch input {
    display: none;
}

.popup .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
}

.popup .switch .slider.round {
    border-radius: 34px
}

.popup .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
}

.popup .switch .slider.round:before {
    border-radius: 50%;
}

.popup .switch input:checked+.slider {
    background-color: #2196f3;
}

.popup .switch input:focus+.slider {
    box-shadow: 0 0 1px #2196f3;
}

.popup .switch input:checked+.slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px)
}

.popup #exclude .switch .label {
    font-variant: small-caps;
}

/*exclude*/
.exclude #fileInput {
    display: none;
}